<ion-content [fullscreen]="true">

  <div style="margin-top: 15%">
    <ion-text class="center-text title">
      Create a contest
    </ion-text>
  </div>
  <div style="margin-top: 15%;">
    <ion-img class="center" style="width: 90px; height: 90px;" src="assets/icon/logo.png"></ion-img>
    <ion-text class="center-text" style="color: red;">Buzzinga!</ion-text>
  </div>
  
  <div class="center-wide">
    <ion-label class="input-label" position="floating">Contest Name</ion-label> 
    <ion-input style="margin-bottom: 20px;" type="text" placeholder="Enter contest name"></ion-input>

    <ion-label class="input-label" position="floating">Username</ion-label> 
    <ion-input type="text" placeholder="Enter username"></ion-input>
  </div>

  <ion-button color="danger" class="button">
    Create contest
  </ion-button>

</ion-content>
